.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.login-card {
  background-color: #FFF;
  padding: 50px;
  border-radius: 1rem;
  width: 400px;
  height: auto;
}

.login-card h2 {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  margin-bottom: 2rem;
}

.login-card p {
  text-align: center;
  padding-top: 2rem;
  margin: 0;
}

.link-register {
  text-decoration: none;
  color: #E51b22;
}